<p id="notice"><%= notice %></p>

<h1>Posts</h1>

  <% @posts.each do |post| %>
    <%= link_to 'show' posts_path(post) do %>  
      <div class="post-card">
        <p><%= post.title %></p>
        <%if user_signed_in?%>
            <span>By: <%= post.author_name %></span>
        <%end%>
        <p><%= post.body %></p>
        <td><%= link_to 'Destroy', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </div>
    <% end %>
  <% end %>


<br>
